extends base.pug

block content
  h4 Change Title of Video
  form(method="POST") 
    input(name="title", placeholder="Video Title", value=video.title, require=true)
    input(type="text", name="description", placeholder="description", value=video.description, required=true)
    input(type="text", name="hashtags", placeholder="hashtags", required=true , value=video.hashtags.join())
    input(valu="Save", type="submit")