extends base.pug

block pageConfig
  .profile-edit-wrap

block content
  div.profile-edit
    if errorMessage
      span.error-message= errorMessage
    form(method="POST", enctype="multipart/form-data")
      div.avatar
        img(src="/" + loggedInUser.avatarUrl, width="100", height="100")
        label(for="avatar" class="custom-file-upload") 바꾸기
        input(type="file" id="avatar" name="avatar" accept="image/*")
      input(placeholder="name", type="text", required, name="name", value=loggedInUser.name)
      input(placeholder="email", type="text", required, name="email", value=loggedInUser.email)
      input(placeholder="username", type="text", required, name="username", value=loggedInUser.username)
      input(placeholder="location", name="location", type="text", required, value=loggedInUser.location)
      input(type="submit", value="수정하기")
    if !loggedInUser.socialOnly
      hr
      a(href="change-password") 비밀번호 변경 &rarr;