extends base

block content
  .watch-page
    .video-wrapped
      div.video-player
        video(src="/" + video.fileUrl, controls, width=1000, height=600)
      div.video-info
        div.video-info-title
          h1= video.title
        div.video-info-description
          p= video.description
          small= video.createdAt
        div
          a(href=`/users/${video.owner._id}`)= video.owner.username
        .control-video-for-owner
          if String(video.owner._id) === String(loggedInUser._id)
            a(href=`${video.id}/edit`) 수정 &rarr;
            br
            a(href=`${video.id}/delete`) 삭제 &rarr;
    
    .comment-container
      .comment-header
        div 댓글
      .comment-all


block scripts
  script(src="/static/js/videoPlayer.js")